body {
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
    color: #434455
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: currentColor;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}


.container-header {
    display: flex;
    align-items: center;

}

.main-container {
    width: 496px;
    padding-top: 188px;
    padding-bottom: 188px;
    margin: 0 auto;
}

.nav {
    display: flex;
    flex-grow: 1;
    align-items: center;
}


.header {
    border-bottom: 1px solid #e7e9fc;
}

.nav-list {
    display: flex;
    gap: 40px;
}

.logo {
font-weight: 700;
font-size: 18px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4D5AE5;
font-family: "Raleway", sans-serif;
line-height: 1.17;
margin-right: 76px;
}


.logo-styled {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}


.nav-list .nav-item .nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #2E2F42;
    letter-spacing: 0.02em;
}

.nav-item {
    padding: 24px 0;
}

.nav-list .nav-item .nav-link:hover,
.nav-list .nav-item .nav-link:focus {
    color: #404bbf
}

address {
    font-style: normal;
    margin-left: auto;
}

.address-list {
    display: flex;
    gap: 40px;
    padding: 24px 0;
}

.address .address-item .address-link {
    font-size: 16px;
    line-height: 24px;
    color: #434455;
    letter-spacing: 0.02em;
}

.address-item .address-link:hover,
.address-item .address-link:focus {
    color:#404bbf;
}

.main-title {
    background-color: #2E2F42;
    padding: 188px 0;
}

.main-title .main-text {
    color: #ffffff;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    max-width: 496px;
    margin: 0 auto 48px;
}

.main-button {
    background-color: #4D5AE5;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    font-family:inherit;
    letter-spacing: 0.04em;
    margin: 0 auto;
    border-radius: 4px;
    text-align: center;
    padding: 16px 32px;
    border: none;
    display: block;
    min-width: 169px;
    height: 56px;
}

.main-title .main-button:hover, 
.main-title .main-button:focus {
    background-color: #404BBF;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    }

.descritpion .section{
    padding-top: 120px;
    padding-bottom: 120px;
}

.description-item {
    width: calc((100% - 72px) / 4);
}

.description-list {
    display: flex;
    justify-content: space-around;
    gap: 24px;
}


.description-list .description-item .description-title {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.description-list .description-item .description-text {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}


.team {
    background: #F4F4FD;
}


.team .team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    text-align: center;
    margin-bottom: 72px;
}

img {
    display: block;
}

 .team-item {
    background-color: #FFFFFF;
    width: 264px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.team-item .team-text {
    padding-top: 32px;
    padding-bottom: 32px;
    text-align: center;
    border: none;
}

.team-list {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.team-list .team-item .team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.team-list .team-item .team-position {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}

.portfolio .portfolio-title {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    line-height: 1.11;
    text-align: center;
    margin-bottom: 72px;
}

.container-portfolio-text {
    border: 1px solid #e7e9fc;
    border-top: none;
    padding: 32px 16px;
}


.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}


.portfolio-item {
    width: calc((100% - 48px) / 3); 
}

.portfolio-list .portfolio-item .portfolio-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px
}

.portfolio-list .portfolio-item .portfolio-text {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer {
    background-color: #2E2F42;
    color: #ffffff;
    padding: 100px 0;
}

.footer .logo {
    text-transform: uppercase;
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    display: inline-block;
    margin-bottom: 16px;
    padding: 0;
    margin-right: 0;
}



.footer-logo-styled {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
}

.footer .footer-text {
    font-size: 16px;
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}

